<span class="main__right">
        <img class="main__right_image" src="./images/main_right_resized.png">
        <div class="main__right_text">
            <div class=main__right_about>
                <p class="main__right_about_head">
                    About me
                </p>
                <p class="main__right_about_text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <p class="main__right_subtitle">
                TOP POSTS
            </p>
            <ul class="main__right_posts_ul">
                <li>
                    <p class="main__right_posts_text">
                        <a style="color: inherit" href="www.minimo.com/a_day_exploring_the_alps">
                            A day exploring the Alps
                        </a>
                    </p>
                    <p class="main__right_posts_comments" >
                        <a style="color: inherit" href="www.minimo.com/a_day_exploring_the_alps/comments">
                            24 comments
                        </a>
                   </p>
                </li>
                <li>
                    <p class="main__right_posts_text">
                        <a style="color: inherit" href="www.minimo.com/american_dream">
                        American dream
                        </a>
                    </p>
                    <p class="main__right_posts_comments" >
                        <a style="color: inherit" href="www.minimo.com/american_dream/comments">
                        19 comments
                        </a>
                    </p>
                </li>
                <li>
                    <p class="main__right_posts_text">
                        <a style="color: inherit" href="www.minimo.com/cold_winter_days">
                        Cold winter days
                        </a>
                    </p>
                    <p class="main__right_posts_comments" >
                        <a style="color: inherit" href="www.minimo.com/cold_winter_days/comments">
                        15 comments
                        </a>
                    </p>
                </li>
            </ul>
        </div>
    </span>