.header__title {
    font-family: Inconsolata;
    font-size: 30px;
    letter-spacing: 6px;
    line-height: 24px;
    color: #000000;
}

.header__info {
    margin-top: 68px;
    margin-bottom: 72px;
    text-transform: uppercase;
}

.header__subtitle {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    color: #626262;
    float: right;
    padding-left: 100px;
    margin-top: 6px;
}

.header__image {
    width: 1062px;
}