<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <!-- Почему margin в .about двигает .left-picture ,а наоборот все вообще плохо -->

    <img src="../images/logo.png" alt="А у меня на компьютере все работает" class="left-picture">

    <div class="about">
        <p class="about-text">
            About me
        </p>
    </div>

    <span>
        <p class="text">
            I’m John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </span>
</body>
</html>