body {
    width: 360px;
    height: 555px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 40px 60px 60px 47px;
}

.header_icon {
    width: 40px;
    height: 35px;
    z-index: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    box-shadow: 0.5px 0.866px 3px rgba(212,212,212,0.75);
    background-color: #262626;
}

.header_icon_image {
    margin: 7px 0 0 7px;
}

.main {
    margin-top: 43px;
    height: 208px;
    margin-left: 3px;
}

.main_text_title {
    margin: 0 auto 0 auto;
}

.main_text_data {
    margin: 7px auto 0 auto;
}

.main_text_gray {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 24px;
    color: #999999;
    font-family: Hind, serif;
    text-align: center;
}

.main_text_black {
    margin: 3px 0 0 12px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 28px;
    color: #212121;
    font-family: Montserrat, serif;
    font-weight: 900;
}

.main_read {
    margin-top: 30px;
    color: #999999;
}


.main_read_block {
    margin: 0 auto 0 auto;
    width: 30px;
    height: 1px;
    background-color: #999999;
}

.main_read_text {
    margin-top: 4px;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 24px;
    color: inherit;
    background-color: #FFFFFF;
    font-family: Hind, serif;
    text-align: center;
    margin-bottom: 2px;
}

.main_read_hover:hover .main_read_block {
    background-color: #d67900;
}

.main_read_hover:hover .main_read_text {
    color: #d67900;
}


.footer {
    margin-left: 31px;
}

.footer_comments_icon {
    width: 16px;
    height: 12px;
    margin-right: 5px;
}

.footer_comments_text {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 24px;
    color: #999999;
    font-family: Hind, serif;
    text-align: center;
}


