<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans"
        rel="stylesheet">
</head>
<body>

<article class="registration">
    <div class="form">
        <div class="content">
            <div class="form__title">
                Давайте начнем!
            </div>
            <div class="form__text">
                Имя<br>
                <input type="text" class="form__input" placeholder="Чендлер">
            </div>
            <div class="form__text">
                Фамилия<br>
                <input type="text" class="form__input" placeholder="Бинг">
            </div>
            <div class="form__text" style="margin-bottom: 26px;">
                Ваш пол<br>
                <input type="radio" value="female" style="margin-top: 14px; margin-right: -2px">
                <span class="form__text-ratio">
                    Женский
                </span>
                <input type="radio" value="male" style="margin-left: 20px">
                <span  class="form__text-ratio">
                    Мужской
                </span>
            </div>
            <div class="form__text">
                Введите электронный адрес<br>
                <input type="text" class="form__input" size="40" placeholder="email@gmail.com">
            </div>
            <div class="form__text">
                Придумайте пароль<br>
                <input type="password" class="form__input" size="40">
            </div>
            <div class="form__terms">
                <input type="checkbox" class="form__terms-checkbox">
                <div class="form__terms-text">
                    Я принимаю условия <a class="form__terms-a" href="#">Пользовательского соглашения</a><br>
                    и даю своё согласие на обработку моих персональных данных<br>
                    на условиях, определенных <a class="form__terms-a" href="#">Политикой конфиденциальности</a>.
                </div>
            </div>
            <input type="button" class="form__button" value="Зарегистрировать" >
        </div>
    </div>
</article>


</body>
</html>
