<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/contact/contact.css">
    <link href="https://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet">
</head>
<body>


<div class="main">
    <div class="header">
        <img src="../images/PaloAlto.png">
        <a class="header_search" href="#"></a>
        <ul class="header_ul">
            <li><a class="header_ul-ref" href="index.html">HOME</a></li>
            <li><a class="header_ul-ref" href="#">ABOUT</a></li>
            <li><a class="header_ul-ref" href="#">ARCHIVE</a></li>
            <li><a class="header_ul-curr">CONTACT</a></li>
        </ul>
    </div>

    <div class="contact">
        <div class="block">
            <div class="contact_title">
                Contact Us
            </div>
            <div class="contact_text">
                Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non.<br>
                Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique<br>
                senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.
            </div>
            <div class="contact_form">
                <div class="contact_user">
                    <input type="text" class="contact_form-text contact_user-name" placeholder="Your Name">
                    <input type="text" class="contact_form-text contact_user-email" placeholder="Email">
                </div>
                <input type="text" class="contact_form-text contact_form-subject" placeholder="Subject">
                <input type="text" class="contact_form-text contact_form-massage" placeholder="Your Massage">
            </div>
        </div>
        <button class="button contact_button">
            send massage
        </button>
    </div>

</div>

<div class="footer">
    <img style="margin-top: 66px; margin-left: auto; margin-right: auto; display: block;" src="../images/footer/PaloAlto.png">
    <ul style="margin-top: 43px">
        <li><a class="footer_button" href="index.html">HOME</a></li>
        <li><a class="footer_button" href="#">ABOUT</a></li>
        <li><a class="footer_button" href="#">ARCHIVE</a></li>
        <li><a class="footer_button-curr">CONTACT</a></li>
        <li class="footer_icon" style="display: inline-block; position: relative; top: 10px;">
            <a href="allala">
                <img class="footer_search" src="../images/footer/search.png">
            </a>
        </li>
    </ul>

    <div class="footer_line" style="margin-top: 33px"></div>
    <div class="footer_text" style="margin-top: 33px">
        Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra<br>
        ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
    </div>
    <div class="footer_line" style="margin-top: 37px"></div>
    <div class="footer_text" style="margin-top: 29px">
        © 2015 - Palo Alto. All Rights Reserved. Designed & Developed by<a href="index.html">PixelBuddha Team</a>
    </div>
    <ul style="margin-top: 28px">
        <li class="footer_icon"><img class="footer_icon_img" src="../images/footer/facebook.png"></li>
        <li class="footer_icon"><img class="footer_icon_img" src="../images/footer/twitter.png"></li>
        <li class="footer_icon"><img class="footer_icon_img" src="../images/footer/instagram.png"></li>
        <li class="footer_icon"><img class="footer_icon_img" src="../images/footer/pinterest.png"></li>
    </ul>
</div>


</body>
</html>