<div class="header">
    <div class="header__info">
        <img class="header__title" src="./images/minimo.png">
        <span class=header__subtitle">
            <a class="header__subtitle" href="www.minimo.com/travel">
                    travel
            </a>
            <a class="header__subtitle" href="www.minimo.com/music">
                    music
            </a>
            <a class="header__subtitle" href="www.minimo.com/photodiary">
                    photodiary
            </a>
            <a class="header__subtitle" href="www.minimo.com/lifestyle">
                    lifestyle
            </a>
        </span>
    </div>
    <div>
        <img class="header__image" src="./images/header.png">
    </div>
</div>