.left-picture {
    float: left;
    display: inline;
    margin-left: 80px;
}
.about {
    background-color: #e8c734;
    width: auto;
    margin: 45px 90px 30px 565px; /* 565 это нормально. Наверно надо было сделать через родителя и padding */
    height: 60px; /* Почему margin в .about двигает .left-picture ,а наоборот все вообще плохо? */
}
.about-text {
    background-color: #e8c734;
    color: #424243;
    font-family: Arial,serif;
    font-size: 23px;
    width: auto;
    text-align: left;
    padding-top: 16px;
    padding-left: 37px;
}
.text {
    color: #424243;
    font-family: Arial,serif;
    font-size: 18px;
    margin: 0 90px 60px 565px;
    line-height: 2;
    text-align: left;
    width: auto;
}