body {
    margin: 0 0 0 0;
}

.discography {
    margin: 20px 20px 0 20px;
}

.header {
    margin-bottom: 100px;
}

.header-title {
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 6px;
    line-height: 59px;
    color: #000000;
    font-family: Dosis, serif;
    text-align: center;
    margin-bottom: 30px;
}

.header-text {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #798285;
    font-family: Open Sans, serif;
    text-align: center;
}

.column {
    list-style-type: none;
    margin-bottom: 100px;
    padding-top: 1px;
    padding-left: 0;
}


.content{
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
}


.content__left-date {
    margin-top: 20px;
    padding-bottom: 3px;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    font-family: Open Sans, serif;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #000000;
}

.content_left-title {
    margin-top: 5px;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-family: Open Sans, serif;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.content__right-title {
    font-size: 23px;
    letter-spacing: 0;
    line-height: 24px;
    color: #000000;
    font-family: Open Sans, serif;
    text-align: left;
    margin-bottom: 10px;
}

.content__right-text {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    color: #acacac;
    font-family: Open Sans, serif;
    margin-bottom: 40px;
}

.button {
    padding: 21px 91px 21px 91px;
    background-color: #000000;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: Open Sans, serif;
    font-weight: bold;
    text-decoration: none;
    border: 0;
}

.content__left {
    width: 45%;
}

.content__right {
    margin-left: 10px;
    width: 55%;
}

.footer {
    width: 100%;
    height: 787px;
    margin-top: -300px;
    background-image: url("../images/footer.png");
}

@media screen and (max-width: 480px) {
    .content{
        margin-bottom: 100px;
        display: block;
    }

    .content__right {
        text-align: center;
        margin-left: 0;
        width: 100%;
    }

    .content__right-title {
        text-align: left;
    }

    .content__right-text {
        text-align: left;
    }


    .content__left {
        width: auto;
    }

    .content__right-button {
        margin: 0 auto 0 auto;
        text-align: center;
    }

}