<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>7bits frontend workshop 2</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open Sans"
          rel="stylesheet">
</head>
<body>


<article class="discographi">
    <header class="discographi__header">
        <div class="discographi__title">
            DISCOGRAPHY
        </div>
        <div class="discographi__title-text">
            September 4 world heard Night Visions, the first full album. He reached the 2 position<br>
            in the chart Billboard 200. The single «It's Time» took 22 th place in the Billboard Hot 100,<br>
            4th in the Billboard Alternative and Billboard Rock, and now went platinum.
        </div>
    </header>

    <ul class="discographi__content">
        <li class="discographi__content_entity">
            <div class="discographi__content_left">
                <div class="discographi__content_data">
                    2010
                </div>
                <div class="discographi__content_title">
                    HELL AND SILENCE
                </div>
            </div>
            <div class="discographi__content_right">
                <div class="discographi__content_text-title">
                    Hell and Silence is an EP by Las Vegas rock group
                </div>
                <div class="discographi__content_text">
                    Hell and Silence is an EP by Las Vegas rock group , released in March 2010 in the United States. It<br>
                    was recorded at Battle Born Studios. All songs were written by Imagine Dragons and self-produced.<br>
                    The EP was in part mixed by Grammy nominated engineer Mark Needham.<br>
                    To promote the album the band performed five shows at SXSW 2010 including at the BMI Official<br>
                    Showcase.While at SXSW they were endorsed by Blue Microphones. They also toured the western<br>
                    United States with Nico Vega and Saint Motel. They also performed at Bite of Las Vegas Festival<br>
                    2010, New Noise Music Festival, Neon Reverb Festival, and Fork Fest.
                </div>
                <a href="#" class="discographi__content_button">
                    Play
                </a>
            </div>
        </li>
        <li class="discographi__content_entity">
            <div class="discographi__content_left">
                <div class="discographi__content_data">
                    2012
                </div>
                <div class="discographi__content_title">
                    Night Visions
                </div>
            </div>
            <div class="discographi__content_right">
                <div class="discographi__content_text-title">
                    Night Visions is the debut studio album by American rock band
                </div>
                <div class="discographi__content_text">
                    It was released on September 4, 2012 through Interscope Records. The extended track was<br>
                    released on February 12, 2013, adding three more songs. Recorded between 2010 and 2012, the<br>
                    album was primarily produced by the band themselves, as well as English hip-hop producer Alex da<br>
                    Kid and Brandon Darner from the American indie rock group The Envy Corps. It was mastered by<br>
                    Joe LaPorta. According to frontman Dan Reynolds, the album took three years to finish ...
                </div>
                <a href="#" class="discographi__content_button">
                    Play
                </a>
            </div>
        </li>
        <li class="discographi__content_entity">
            <div class="discographi__content_left">
                <div class="discographi__content_data">
                    2015
                </div>
                <div class="discographi__content_title">
                    Smoke + Mirrors
                </div>
            </div>
            <div class="discographi__content_right">
                <div class="discographi__content_text-title">
                    The album was recorded during 2014<br>
                    at the band's home studio in Las Vegas, Nevada
                </div>
                <div class="discographi__content_text">
                    Self-produced by members of the band along with English hip-hop producer Alexander Grant,<br>
                    known by his moniker Alex da Kid, the album was released by Interscope Records and Grant's<br>
                    KIDinaKORNER label on February 17, 2015, in the United States.
                </div>
                <a href="#" class="discographi__content_button">
                    Play
                </a>
            </div>
        </li>
    </ul>

    <footer class="discographi__footer">
        <img class="discographi__image" src="../images/footer.png">
    </footer>
</article>

</body>
</html>
