<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>7bits frontend workshop 2</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto"
          rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="main__title">
        <p class="main__title_text">Skills</p>
    </div>
    <div>
        <ul class="main__content main__content_text">
            <li class="main__content_li">
                <p class="main__content_li_text">Communication</p>
                <div class="main__content_li_bar_progress main__content_li_bar_progress_73"></div>
            </li>
            <li class="main__content_li">
                <p class="main__content_li_text">Creativity</p>
                <div class="main__content_li_bar_progress main__content_li_bar_progress_88"></div>
            </li>
            <li class="main__content_li">
                <p class="main__content_li_text">Teamwork</p>
                <div class="main__content_li_bar_progress main__content_li_bar_progress_73"></div>
            </li>
            <li class="main__content_li">
                <p class="main__content_li_text">Organization</p>
                <div class="main__content_li_bar_progress main__content_li_bar_progress_88"></div>
            </li>
            <li class="main__content_li">
                <p class="main__content_li_text">Leadership</p>
                <div class="main__content_li_bar_progress main__content_li_bar_progress_73"></div>
            </li>
            <li class="main__content_li">
                <p class="main__content_li_text">Teamplayer</p>
                <div class="main__content_li_bar_progress main__content_li_bar_progress_88"></div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
