<div class="header">
    <img src="../images/PaloAlto.png">
    <a class="header_search" href="#"></a>
    <ul class="header_ul">
        <li><a class="header_ul-ref" href="index.html">HOME</a></li>
        <li><a class="header_ul-ref" href="#">ABOUT</a></li>
        <li><a class="header_ul-ref" href="#">ARCHIVE</a></li>
        <li><a class="header_ul-curr">CONTACT</a></li>
    </ul>
</div>