.header_icon {
    width: 40px;
    height: 35px;
    z-index: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    box-shadow: 0.5px 0.866px 3px rgba(212,212,212,0.75);
    background-color: #262626;
}

.header_icon_image {
    margin: 7px 0 0 7px;
}

.header_name {
    font-size: 42px;
    line-height: 25px;
    color: #333333;
    font-family: Lato, serif;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
}

.header_button {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 25px;
    color: #bdbdbd;
    font-family: Lato, serif;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

.header ul{
    display: inline-block;
    float: right;
}

.header li{
    display: inline-block;
}