body {
    width: 1400px;
    height: 3518px;
    background-color: #f7f9fc;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

ul {
    padding: 0 0 0 0;
}

li {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none
}