<div class="footer">
    <div class="footer__info">
        <span>
                <a class="footer__text" href="www.minimo.com/tandc">Terms and conditions</a>
        </span>
        <span>
                <a class="footer__text" href="www.minimo.com/privacy">Privacy</a>
        </span>
    </div>
</div>