.content__header {
    width: 88px;
    height: 32px;
    background-color: #5c6bc0;
    margin-left: 874px;
    margin-bottom: -50px;
    z-index: 1;
    position: relative;
}

.content__header_text {
    font-size: 14px;
    line-height: 32px;
    color: #ffffff;
    font-family: Lato, serif;
    font-weight: bold;
    text-align: center;
}
