<div class="footer">
    <img style="margin-top: 66px; margin-left: auto; margin-right: auto; display: block;" src="../images/PaloAlto_footer.png">
    <ul style="margin-top: 43px">
        <li><a class="footer_button-curr">HOME</a></li>
        <li><a class="footer_button" href="#">ABOUT</a></li>
        <li><a class="footer_button" href="#">ARCHIVE</a></li>
        <li><a class="footer_button" href="contact.html">CONTACT</a></li>
        <li class="footer_icon" style="display: inline-block; position: relative; top: 10px;">
            <a href="allala">
                <img class="footer_search" src="../images/search.png">
            </a>
        </li>
    </ul>

    <div class="footer_line" style="margin-top: 33px"></div>
    <div class="footer_text" style="margin-top: 33px">
        Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra<br>
        ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
    </div>
    <div class="footer_line" style="margin-top: 37px"></div>
    <div class="footer_text" style="margin-top: 29px">
        © 2015 - Palo Alto. All Rights Reserved. Designed & Developed by<a href="index.html">PixelBuddha Team</a>
    </div>
    <ul style="margin-top: 28px">
        <li class="footer_icon"><a href="#"><img class="footer_icon-img" src="../images/facebook.png"></a></li>
        <li class="footer_icon"><a href="#"><img class="footer_icon-img" src="../images/twitter.png"></a></li>
        <li class="footer_icon"><a href="#"><img class="footer_icon-img" src="../images/instagram.png"></a></li>
        <li class="footer_icon"><a href="#"><img class="footer_icon-img" src="../images/pinterest.png"></a></li>
    </ul>
</div>